.header {
	position: absolute;
	top: 62px;
	position: sticky;
	background-color: var(--ant-color-bg-container);
	z-index: 10;
	width: 100%;
	right: 0;
	padding: 15px 20px;
	// border-top: 1px solid #ecedf0;
	.header-middle {
		display: flex;
		justify-content: flex-start;
		max-width: 50%;
	}
	.header-bottom {
		padding-top: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.buttons {
	display: flex;
	gap: 10px;
	button {
		border-radius: 2px;
		display: flex;
		align-items: center;
	}

	.add-button {
		color: #fff;
	}
}

@media (max-width: 992px) {
	.header {
		padding: 10px;
	}
}

@media (max-width: 800px) {
	.header {
		.header-bottom {
			flex-direction: column;
			align-items: flex-start;
			gap: 10px;

			.buttons {
				width: 100%;
				flex-wrap: wrap;
				button {
					// width: 100%;
					text-align: center;
				}
			}
		}
	}
}
