.navbar {
	padding: 15px 20px;
	position: sticky;
	top: 0;
	right: 0;
	height: auto;
	z-index: 12;
	width: 100%;
	background-color: var(--ant-color-bg-container);

	.navbar-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.navbar-items {
			display: flex;
			gap: 10px;
			align-items: center;

			.avatar-and-name {
				display: flex;
				align-items: center;
				gap: 5px;
				cursor: pointer;
			}
		}
	}
}

@media (max-width: 992px) {
	.navbar {
		padding: 15px 10px;
	}
}
